<ion-app>
  <app-menu></app-menu>

  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start" class="primary">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          My Hours
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">My Hours</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-item>
        <ion-label>{{dayName}}</ion-label>
        <ion-datetime displayFormat="MM / DD / YYYY" pickerFormat="YYYY MMM DD" [(ngModel)]="dateSelected"
          (ionChange)="dateChange($event)">
        </ion-datetime>
      </ion-item>

      <ion-item *ngFor="let t of global.timeLabels">
        <ion-label>{{t.slot}}</ion-label>
        <ion-input inputmode="text" placeholder="what happened here?"
          (ionInput)="saveInputChanges(t, dateSelected, $event)" [(ngModel)]="t.details"></ion-input>
      </ion-item>

      <br />
      <p class="ion-padding-start ion-padding-end">
        <ion-button color="light" expand="block" onclick="scrollToTop()">to top</ion-button>
      </p>

    </ion-content>
  </div>
</ion-app>